{% load static %}
<footer class="bg-dark text-center text-white">
    <div class="bg-dark sans" style="background-color: rgba(0, 0, 0, 0.2);">
        <h6>Want to find out more about <a href="">us</a> ?</h6>
        <h6>Or call just to this number +998905810061 USA</h6>
    </div>
    <div class="bg-dark text-center p-3 sans" style="background-color: rgba(0, 0, 0, 0.2);">
        <h6>© 2021 Apple Store</h6>
        <a style="font-family: sans-serif" class="text-white sans" href="https://apple.com/">apple.com</a>
    </div>
    <!-- Copyright -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
</footer>
