{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div style="background-color: whitesmoke !important;" id="about-title" class="bg-dark p-5">
        <div class="container p-5">
            <div class="about-us">
                <h1 style="font-weight: bold; font-size: 50px; font-family: sans-serif;">About Us</h1>
            </div>
        </div>
    </div>
    <div id="about-us" style="background-color: whitesmoke">
        <img src="{% static 'images/stive_jobs.jpg' %}" class="img-fluid" alt="Responsive image">
        <div class="container mt-5 mb-5">
            <h1 class="mb-5" style="font-weight: bold; font-size: 50px; font-family: sans-serif">Our company</h1>
            <div class="row">
                <div class="col-6">
                    <img src="{% static 'images/apple_company.jpg' %}" alt="" width="100%" height="100%">
                </div>
                <div class="col-6">
                    <p class="ml-5" style="font-size: 35px">Lorem Ipsum dollar sit amet Lorem Ipsum dollar sit amet
                        Lorem Ipsum dollar sit amet Lorem Ipsum dollar sit amet Lorem Ipsum dollar sit amet Lorem Ipsum
                        dollar sit amet Lorem Ipsum dollar sit amet Lorem Ipsum dollar sit amet
                    </p>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <h1 style="font-weight: bold; font-size: 50px; font-family: sans-serif">Our office</h1>
            <div class="row">
                <div class="col-6">
                    <p style="font-size: 40px">Lorem Ipsum dollar sit amet Lorem Ipsum dollar sit amet
                        Lorem Ipsum dollar sit amet Lorem Ipsum dollar sit amet Lorem Ipsum dollar sit amet Lorem Ipsum
                        dollar sit amet Lorem Ipsum dollar sit amet Lorem Ipsum dollar sit amet
                    </p>
                </div>
                <div class="col-6">
                    <img src="{% static 'images/apple_office.jpg' %}" alt="" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
    <div id="Location">
        <h1 style="font-weight: bold; font-size: 50px; font-family: sans-serif;" class="text-center mb-5 text-danger">We
            are located here</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581.830421910857!2d-80.11632434912666!3d26.13707159925876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d901c8aaf9e543%3A0x42feab070871da5a!2sApple%20The%20Galleria!5e0!3m2!1sru!2s!4v1632180918190!5m2!1sru!2s"
                width="100%" height="700" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
    <div id="details" style="background-color: whitesmoke">
        <div class="container">
            <h2 class="text-center mb-5 text-danger">Know about us deeper !</h2>
            <div class="row text-secondary">
                <div class="col-6">
                    <h1>Address: </h1>
                    <h1>Usa, California</h1>
                    <h1>Work schedule: </h1>
                    <h1>Mon-Sat 09:00 - 21:00</h1>
                    <h1>Sunday day-off</h1>
                    <h1>Phone number: </h1>
                    <h1>+99890 581 00 61</h1>
                    <h1>@Email: </h1>
                    <h1>@Nolove02@bk.ru</h1>
                </div>
                <div class="col-6">
                    <h1 style="font-weight: bold; font-size: 50px; font-family: sans-serif">Leave Us Something Or Call
                        Right Now...</h1>
                    <form action="">
                    <textarea style="border: 5px solid darkgray; height: 200px"
                              class="form-control pt-5 pb-5 mt-5 w-100"
                              placeholder="Message" name="about-message"></textarea>
                        <input style="border: 5px solid darkgray" class="form-control mt-2 mb-2 pt-4 pb-4"
                               placeholder="@Email"
                               type="text" name="about-email">
                        <button style="background-color: darkgray" type="button" class="btn">Send</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}