{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div id="blog-page">
    <h1 class="text-center">Welcome to Blog page</h1>
    </div>
    <div style="background-color:lightgray" id="banner-main">
        <div class="container mb-5">
            <div class="row">
                <div class="col-9">
                    <img src="{% static 'images/watch-last.jpg' %}" alt="" width="100%" height="100%">
                </div>
                <div class="col-3 mt-5">
                    <h4>Iwatch & options</h4>
                    <a href=""><h1>7 alternative uses for herbs and spices</h1></a>
                    <p>
                        Lorem ipsum dollar sit ametLorem ipsum dollar sit ametLorem ipsum dollar sit ametLorem ipsum
                        dollar sit ametLorem ipsum dollar sit amet
                    </p>
                    <br>
                    <a href=""><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    <span><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </span><span class="ml-2">1 of 4</span>
                </div>
            </div>
        </div>
    </div>
    <div id="products-blog">
        <div class="container">
            <div class="row">
                <div class="col-4 mb-5">
                    <div class="card">
                        <img src="{% static 'images/banner-2.jpg' %}" alt="" width="100%" height="250px">
                        <hr style="background-color: orange; padding-top: 5px">
                        <i class="fa fa-calendar mb-2"><span> 21 February 2021</span></i>
                        <p class="mb-2">By: Andrew</p>
                        <a href="">
                            <h3 style="color: slategray">Watch</h3>
                        </a>
                        <a href=""><p>View comments (15)</p></a>
                        <a href=""><p>Read More ...</p></a>
                    </div>
                </div>
                <div class="col-4 mb-5">
                    <div class="card">
                        <img src="{% static 'images/banner-2.jpg' %}" alt="" width="100%" height="250px">
                        <hr style="background-color: orange; padding-top: 5px">
                        <i class="fa fa-calendar mb-2"><span> 21 February 2021</span></i>
                        <p class="mb-2">By: Andrew</p>
                        <a href="">
                            <h3 style="color: slategray">Watch</h3>
                        </a>
                        <a href=""><p>View comments (15)</p></a>
                        <a href=""><p>Read More ...</p></a>
                    </div>
                </div>
                <div class="col-4 mb-5">
                    <div class="card">
                        <img src="{% static 'images/banner-2.jpg' %}" alt="" width="100%" height="250px">
                        <hr style="background-color: orange; padding-top: 5px">
                        <i class="fa fa-calendar mb-2"><span> 21 February 2021</span></i>
                        <p class="mb-2">By: Andrew</p>
                        <a href="">
                            <h3 style="color: slategray">Watch</h3>
                        </a>
                        <a href=""><p>View comments (15)</p></a>
                        <a href=""><p>Read More ...</p></a>
                    </div>
                </div>
                <div class="col-4 mb-5">
                    <div class="card">
                        <img src="{% static 'images/banner-2.jpg' %}" alt="" width="100%" height="250px">
                        <hr style="background-color: orange; padding-top: 5px">
                        <i class="fa fa-calendar mb-2"><span> 21 February 2021</span></i>
                        <p class="mb-2">By: Andrew</p>
                        <a href="">
                            <h3 style="color: slategray">Watch</h3>
                        </a>
                        <a href=""><p>View comments (15)</p></a>
                        <a href=""><p>Read More ...</p></a>
                    </div>
                </div>
                <div class="col-4 mb-5">
                    <div class="card">
                        <img src="{% static 'images/banner-2.jpg' %}" alt="" width="100%" height="250px">
                        <hr style="background-color: orange; padding-top: 5px">
                        <i class="fa fa-calendar mb-2"><span> 21 February 2021</span></i>
                        <p class="mb-2">By: Andrew</p>
                        <a href="">
                            <h3 style="color: slategray">Watch</h3>
                        </a>
                        <a href=""><p>View comments (15)</p></a>
                        <a href=""><p>Read More ...</p></a>
                    </div>
                </div>
                <div class="col-4 mb-5">
                    <div class="card">
                        <img src="{% static 'images/banner-2.jpg' %}" alt="" width="100%" height="250px">
                        <hr style="background-color: orange; padding-top: 5px">
                        <i class="fa fa-calendar mb-2"><span> 21 February 2021</span></i>
                        <p class="mb-2">By: Andrew</p>
                        <a href="">
                            <h3 style="color: slategray">Watch</h3>
                        </a>
                        <a href=""><p>View comments (15)</p></a>
                        <a href=""><p>Read More ...</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}