{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <div id="blog-page">
        <h1 class="text-center">Welcome to Blog page</h1>
    </div>
    <div style="background-color:lightgray" id="banner-main">
        <div class="container mb-5">
            <div class="row">
                <div class="col-9">
                    <img src="{% static 'images/watch-last.jpg' %}" alt="" width="100%" height="100%">
                </div>
                <div class="col-3 mt-5">
                    <h4>Iwatch & options</h4>
                    <a href=""><h1>7 alternative uses for herbs and spices</h1></a>
                    <p>
                        Lorem ipsum dollar sit ametLorem ipsum dollar sit ametLorem ipsum dollar sit ametLorem ipsum
                        dollar sit ametLorem ipsum dollar sit amet
                    </p>
                    <br>
                    <a href=""><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    <span><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </span><span class="ml-2">1 of 4</span>
                </div>
            </div>
        </div>
    </div>
    <div id="products-blog">
        <div class="container">
            <div class="row">
                {% for product in blog_products %}
                    <div class="col-4 mb-5">
                        <div class="a card">
                            <img src="{{ product.image.url }}" alt="" width="100%" height="250px">
                            <hr style="background-color: orange; padding-top: 5px">
                            <i class="fa fa-calendar mb-2"><span>{{ product.created_at|date:"d F Y" }}</span></i>
                            <p class="mb-2">By: {{ product.author.full_name }}</p>
                            <a href="{% url 'blog:detail' pk=product.pk %}">
                                <h3 style="color: slategray">{{ product.title }}</h3>
                            </a>
                            <a href="{% url 'blog:detail' pk=product.pk %}"><p>View comments
                                ({{ product.comments.count }})</p></a>
                            <a href="{% url 'blog:detail' pk=product.pk %}"><p>Read More ...</p></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}