{% extends 'layouts/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
    <style>
        a:hover {
            cursor: pointer;
        }

        body a {
            text-decoration: none !important;
        }
    </style>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
    <div id="products-banner" class="container mb-5">
        <img src="{% static 'images/banner-3.jpeg' %}" alt="" width="100%" height="100%">
    </div>
    <div class="container">
        <h1 style="font-family: sans-serif" class="text-dark display-1">Store.
            <span style="color: lightgray">The best way to buy the products you love.
        </span></h1>
    </div>
    <br>
    <div id="product_items" class="bg-light">
        <div class="container mb-5">
            <form class="form-inline w-25">
                <input class="form-control mr-sm-2 mt-5" value="{{ request.GET.q }}" name="q" type="search"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-dark my-2 mb-2" type="submit">Search</button>
            </form>
            <a href="{% url 'products:page' %}">Clear filters</a>
        </div>
        {#        < -- Categories -- >#}
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h2>Category</h2>
                    {% for category in categories %}
                        <ol>
                            <li><a onclick="addUrlParameter('cat', {{ category.pk }})">{{ category.title }}</a></li>
                        </ol>
                    {% endfor %}
                </div>
                <div class="col-3">
                    <h2>Color</h2>
                    {% for color in colors %}
                        <ol>
                            <li><a onclick="addUrlParameter('color', {{ color.pk }})">{{ color.title }}</a></li>
                        </ol>
                    {% endfor %}
                </div>
                <div class="col-3">
                    <h2>Tag</h2>
                    {% for tag in tags %}
                        <ol>
                            <li><a onclick="addUrlParameter('tag', {{ tag.pk }})"> {{ tag.title }}</a></li>
                        </ol>
                    {% endfor %}
                </div>
                <div class="col-3">
                    <h2>Price</h2>
                    <form action="">
                        <input type="text" class="js-range-slider" name="my_range" value=""/>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="container container-fluid mt-5">
            <div class="row">
                <div class="col-8">
                    <h3>Showing {{ page_obj.start_index }}–{{ page_obj.end_index }} of {{ page_obj.paginator.count }}
                        results</h3>
                </div>
            </div>
            <div class="row">
                {% for i in object_list %}
                    <div class="col-4 pb-5">
                        <div class="card" style="width: 18rem; height: 100%">
                            <img class="card-img-top" src="{{ i.image.url }}" alt="Card image cap" width="100%"
                                 height="50%">
                            <div class="card-body">
                                <a href="{% url 'products:product_detail' pk=i.pk %}"
                                   class="card-title">{{ i.title }}</a>
                                {% if i.is_new %}<span class="text-danger"> <i>
                                    <img width="10%" src="{% static 'images/new.png' %}" alt="">
                                </i></span>{% endif %}
                                <p class="card-text">{{ i.short_description }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bold">${{ i.price }}{% if i.discount %}<span
                                        class="text-danger"> %{{ i.discount }}</span>
                                {% endif %}</li>
                            </ul>
                            <div class="card-body">
                                {% if i|in_wishlist:request.user %}
                                    <a href="{% url 'products:update-wishlist' pk=i.pk %}?next={{ request.path }}"
                                       class="heart card-link"><i><img width="10%" src="{% static 'images/heart.png' %}"
                                                                       alt=""></i></a>
                                {% else %}
                                    <a href="{% url 'products:update-wishlist' pk=i.pk %}?next={{ request.path }}"
                                       class="heart card-link"><i class="bi-heart"></i></a>
                                {% endif %}
                                <a href="{% url 'products:update-cart' pk=i.pk %}?next={{ request.path }}"
                                   class="card-link">
                                    {% if i|in_cart:request %}
                                        <i class="bi-cart-x"></i>
                                    {% else %}
                                        <i class="bi-cart-plus"></i>
                                    {% endif %}
                                </a>
                                <a href=""
                                   class="card-link"><i class="bi-star"></i></a><span
                                    class="bold">{{ i.rate }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container justify-content-center mt-5 pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><i class="bi-chevron-double-left"></i></a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="bi-chevron-double-right"></i></a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>\

    <script>
        $(".js-range-slider").ionRangeSlider();
    </script>
    <script>
        $(".js-range-slider").ionRangeSlider({
            type: "double",
            min: 0,
            max: 1000,
            from: 200,
            to: 500,
            grid: true
        });
    </script>
    <script> // ?cat=1
    function addUrlParameter(name, value) {
        let searchParams = new URLSearchParams(window.location.search)
        if (['category', 'color', 'tag', 'price'].includes(name)) {
            searchParams.delete('page');
        }
        if (searchParams.has(name) && searchParams.get(name) == value) {
            searchParams.delete(name);
        } else {
            searchParams.set(name, value)
        }
        window.location.search = searchParams.toString()
    }
    </script>
{% endblock %}
