{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div style="background-color: ghostwhite" id="about-title" class="p-5">
        <div class="container p-5">
            <h1 style="font-weight: bold; font-size: 50px; font-family: sans-serif;">Wishlist</h1>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-4 pb-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'images/products.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Product title</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$250</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="heart card-link"><i class="bi-heart"></i></a>
                            <a href="#" class="card-link"><i class="bi-bag"></i></a>
                            <a href="#" class="card-link"><i class="bi-star"></i></a><span class="bold">7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}